/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

/* #floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
} */

#navigation {
  height: 100px;
  width: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
#up {
  grid-column: 2/3;
  grid-row: 1;
}
#down {
  grid-column: 2/3;
  grid-row: 3;
}
#right {
  grid-column: 3;
  grid-row: 2;
}
#left {
  grid-column: 1;
  grid-row: 2;
}

#installButton {
  color: white;
  background: blue;
}
